<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Arnaud Jeanroch, CSC40088, Keele</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/css/application.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Keele MSc in Computer Sciencer</h1>
        <h2>CSC40088-Assessment 3, Arnaud Jeanroch</h2>
        <h3><u>Task 1, Create a python Flask application with three pages:</u></h3>
        <h5><b>Task 1.1</b> <a href="creative">Extension of the page from Assessment2</a></h5> its code is on <a href="https://github.com/krallnyx/csc-40088-flask-d3">Github, flask-d3</a></h5>
        <h5><b>Task 1.2</b> <a href="https://tranquil-lake-89740.herokuapp.com/">Page with WebSocket and 2 security features</a></h5> its code is on <a href="https://github.com/krallnyx/csc40088-websockets">Github, websockets</a></h5>
        <hr>
        <h5><b>Task 1.3</b>Answers to the questions in <b>Task2:</b></h5>
        <div class="report">
        <h1>
            CSC40088 Fundamentals of Computer Science: Task 2
        </h1>
        <h3>Question 2.1: What extra features have you added in Task 1.1, and why? </h3>
        <p>
            Your answers.
        </p>
        <hr>
        <h3>Question 2.2: What are the security issues of Web Socket, and what can be done to secure Web Socket? You need to relate this to the security features you have implemented in Task 1.2.</h3>
        <p>As with many technologies related to networking, WebSockets have vulnerabilities. As stated by Heroku themselves on , you have to be very careful when using websockets.</p>
        <ul>When implementing websockets, the common known security issues are:
            <li>Transport (we should strongly prefer WSS, using SSL over WS) in this exercise we use Heroku and can't manage this on the free tier. Il will also prevent sniffing</li>
            <li>Tunneling, Should really be avoided or you'll enable in-browser attacks</li>
            <li>Input validation, as with almost any query, to prevent SQL injection mostly</li>
            <li>Output validation, to check if what's returned is wanted, goes with the previous one</li>
            <li>Authentication, we really don't want anyone to be able to use our websocket</li>
            <li>Origin header (CORS), kind of self-explanatory, when using websockets, you want the requests to come from your site only</li>
            <li>Rate and size limiting, if users can send as many requests as they want, it's open door to Denial of Service</li>
            <li>There are also probably more, it's important to stay aware of the news</li>
        </ul>
            For this assessment, Heroku doesn't allow us to do much on the SSL side with the free tier so the two features I added for security are:<br>
            -Input validation (in my opinion probably the most easy vulnerabilty to  use and the most damaging). Even thoug we don't use a Database on this exercise, it won't stay like that and without it, using SQL injection is just a child's play.<br>
            -Rate limiting. Denial of Service is very common nowadays and we'd experience it if we don't have a limiter, especially as we don't have authentication (which would have been time-consuming for the reviewers of this assessment).<br>
            Sources :<br>
            <a href ="https://devcenter.heroku.com/articles/websocket-security">Websocket security, by Heroku, 2021</a><br>
            <a href ="https://www.freecodecamp.org/news/how-to-secure-your-websocket-connections-d0be0996c556/">How to secure your WebSocket connections on FreeCodeCamp by Mehul Mohan, 2018</a><br>
            <a href ="https://brightsec.com/blog/websocket-security-top-vulnerabilities/#sniffing-attacks">WebSocket Security: Top 8 Vulnerabilities and How to Solve Them, on BrightSec by Danko Kovacic, 2021</a><br>

        <hr>
        <h3>Question 2.3: What are the things you found particularly challenging in completing Task 1, and how can you improve your approach to these tasks?</h3>
        <p>
			Unfortunately the tutorials for WebSockets given in the course were extremely outdated and didn't work. I spent a lot of time trying to figure it out and thankfully, Stu Watt gave us the fix for it.<br>
            Adding the security to it wasn't too challenging, it's something I've done before for other projects but in the context of websockets it was still a challenge as they are quite sensitive to breaking.<br>
            D3.js was a huge library to "learn" and handle. It took me a really long time to get over it to simply display a pie chart.<br>
            To improve my approach to these tasks, I had to use a library I know, Pandas, it's great for Data handling in Python, it helped me a lot. I'm a lot more confident using it than doing data handling directly in JS using d3.<br>
            To improve it further would be quite simply to learn a lot more than my time allowed me to do so. I need to work a lot on d3.js mostly. I'd probably not be interested in working more on websockets as it's really a niche technology in a field I'm not too interested in.<br>
		</p>
        <hr>
    </div>
    </div>


    <script type="text/javascript" src="static/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="static/js/reconnecting-websocket.min.js"></script>
    <script type="text/javascript" src="static/js/application.js"></script>
  </body>
</html>