<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Arnaud Jeanroch, CSC40088, Keele</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/css/application.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Keele MSc in Computer Sciencer</h1>
        <h2>CSC40088-Assessment 3, Arnaud Jeanroch</h2>
        <h3><u>Task 1, Create a python Flask application with three pages:</u></h3>
        <h5><b>Task 1.1</b> <a href="creative.html">Extension of the page from Assessment2</a></h5>
        <h5><b>Task 1.2</b> <a href="chat.html">Page with WebSocket and 2 security features</a></h5>
        <h5><b>Task 1.3</b>Answers to the questions in <b>Task2:</b></h5>
        <div class="report">
        <h1>
            CSC40088 Fundamentals of Computer Science: Task 2
        </h1>
        <h3>Question 2.1: What extra features have you added in Task 1.1, and why? </h3>
        <p>
            Your answers.
        </p>
        <hr>
        <h3>Question 2.2: What are the security issues of Web Socket, and what can be done to secure Web Socket? You need to relate this to the security features you have implemented in Task 1.2.</h3>
        <p>
            Your answers.
        </p>
        <hr>
        <h3>Question 2.3: What are the things you found particularly challenging in completing Task 1, and how can you improve your approach to these tasks?</h3>
        <p>
			Your answers.
		</p>
        <hr>

        <h5>Note: You can also provide your answers in bullet points</h5>
        <ul>
            <li>Your answers...</li>
			<li>Your answers...</li>
			<li>Your answers...</li>
        </ul>
    </div>
    </div>


    <script type="text/javascript" src="static/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="static/js/reconnecting-websocket.min.js"></script>
    <script type="text/javascript" src="static/js/application.js"></script>
  </body>
</html>